@tailwind base;
@tailwind components;
@tailwind utilities;

.leaflet-container {
  width: 100%;
  height: 100vh;
}

.two-col-container {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two equal-width columns */
  gap: 10px; /* Gap between cards */
}

.row-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.col-container {
  display: flex;
  flex-direction: column;
}

.activity-container {
  padding: 1rem;
  width: 100%;
}

.activity-title {
  @apply text-2xl sm:text-3xl font-bold mb-2 text-gray-900 dark:text-white;
}

.card-container {
  @apply border-b border-gray-200 dark:border-gray-700 p-4;
}

.card-title {
  @apply text-xl sm:text-2xl font-bold mb-4 text-gray-900 dark:text-white;
}

.activity-date {
  @apply text-sm sm:text-base text-gray-500 dark:text-gray-400;
}